# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# macOS / Linux / system files
.DS_Store
Thumbs.db

# Logs and misc
*.log
